<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--DEFINE LA CREACION, EL USO Y LA DESTRUCCION DEL BEAN CON "INIT-METHOD" Y "DESTROY-METHOD"-->
    <bean id="persona" class="com.learn.beans.Persona" init-method="init" destroy-method="destroy">
        <property name="id" value="1"> </property>
        <property name="nombre" value="Amets"> </property>
        <property name="apellido" value="Diaz"> </property>
        <property name="pais" ref="pais"> </property>
        <property name="ciudad" ref="ciudad"> </property>
    </bean>

    <bean id="pais" class="com.learn.beans.Pais" >
        <property name="nombre" value="Colombia"> </property>
    </bean>

    <bean id="ciudad" class="com.learn.beans.Ciudad" >
        <property name="nombre" value="Medellin"> </property>
    </bean>
</beans>